{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<div id="content">
    {% block content %}{% endblock %}
</div>
<ul class="menu">
    <li>
        <a href="{% url 'login:login' %}">Войти</a>
    </li>
    <li>
        <a href="{% url 'login:logout' %}">Выйти</a>
    </li>
    <li>
        <a href="{% url 'login:password_change' %}">Смена пароля</a>
    </li>
    <li>
        <a href="{% url 'login:password_reset' %}">Сброс пароля</a>
    </li>
    <li>
        <a href="{% url 'login:register' %}">Регистрация</a>
    </li>
    <li>
        <a href="{% url 'login:edit' %}">Изменения</a>
    </li>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a class="close"></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="header">
        <span class="logo">Закладки</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li>
                <a href="{% url 'login:dashboard' %}">Моя панель приборов</a>
            </li>
        </ul>
        {% endif %}
        <span class="user">
    </div>

</html>