{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="header">
    <span class="logo">Закладки</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == 'dashboard' %} class="selected" {% endif %}>
            <a href="{% url 'login:dashboard' %}">Моя панель приборов</a>
        </li>
        <li {% if section == 'images' %}class="selected" {% endif %}>
            <a href="#">Изображений</a>
        </li>
        <li {% if section == 'people' %}class="selected" {% endif %}>
            <a href="#">Люди</a>
        </li>
    </ul>
    {% endif %}
    <span class="user">

</html>